@import url('https://fonts.googleapis.com/css?family=Montserrat:400,600,700&display=swap');

/* Bootstrap overrides */

/* Colors */
$primary: #1FBED2;
$pink: #CD0F66;
$blue-dark: #0C3253;

$dark: #2F3A43;
$light: white;

/* Text Style */
$body-color: $primary;
$text-muted: #A7ABAF;

$font-family-sans-serif: 'Montserrat', sans-serif;

$font-weight-semibold: 600;

.font-weight-semibold {
  font-weight: $font-weight-semibold;
}

/* Navbar */
$navbar-dark-color: white;
$navbar-dark-hover-color: $text-muted;

$navbar-light-color: $dark;
$navbar-light-hover-color: lighten($navbar-light-color, 20%);
$navbar-light-active-color: $dark;

$navbar-nav-link-padding-x: 1rem;

/* Buttons */
$btn-font-weight: $font-weight-semibold;
$btn-border-radius: 0.3rem;

/* Links */
$link-hover-decoration: none;

@import "../../node_modules/bootstrap/scss/bootstrap";

